			<!-- Menu Responsive -->
			<nav id="mp-menu" class="mp-menu alternate-menu mp-overlap right-side">
	            <div class="mp-level">
	                <h2>Menu</h2>
	                <ul>
	                	<li>
	                    	<a href="index.html">Home</a>
	                    </li>
	                    <li>
	                    	<a href="accomodation.html">Accomodation</a>
	                    </li>
	                    <li class="has-sub">
	                        <a href="#">Pages</a>
	                        <div class="mp-level">
	                            <h2>Pages</h2>
	                            <a class="mp-back" href="#">Back</a>
	                            <ul>
	                                <li><a href="blog.html">Blog</a></li>
									<li><a href="testimonial.html">Testimonials</a></li>
									<li><a href="shortcode.html">Shortcode</a></li>
									<li><a href="typography.html">Typography</a></li>
									<li><a href="booking-cart.html">Booking Cart</a></li>
									<li><a href="checkout.html">CheckOut</a></li>
									<li><a href="check-available.html">Check Available</a></li>
	                            </ul>
	                        </div>
	                    </li>
	                    <li>
	                        <a href="new-deal.html">News &amp; deals</a>
	                    </li>
	                    <li>
	                        <a href="world-of-flawles.html">World of flawles</a>
	                    </li>
	                    <li>
	                    	<a href="contact.html">Contact</a>
	                    </li>
						<li>
							<!-- Language Bar -->
							<div class="language-bar2">
								<span><a href="#"><img src="images/english.png" alt="english"></a></span>
								<span><a href="#"><img src="images/croatian.png" alt="croatian"></a></span>
								<span><a href="#"><img src="images/german.png" alt="german"></a></span>
								<span><a href="#"><img src="images/slovenian.png" alt="slovenian"></a></span>
								<span><a href="#"><img src="images/czech.png" alt="czech"></a></span>
								<span><a href="#"><img src="images/french.png" alt="french"></a></span>
							</div>
						</li>
	                </ul>
	            </div>
	        </nav>
	        <!-- Menu Responsive End -->