<nav id="main-nav" class="nav-collapse">
    <ul id="main-menu" class="md-menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/accomodation/">Размещение</a></li>
        <li class="have-submenu"><a href="#">Услуги</a>

            <div class="sub-menu">
                <ul class="sub-menu-inner">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="/accomodation/check-available/">Подобрать</a></li>
                    <li><a href="shortcode.html">Shortcode</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="booking-cart.html">Booking Cart</a></li>
                    <li><a href="checkout.html">CheckOut</a></li>
                    <li><a href="check-available.html">Check Available</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/lib/">блог &amp; новости</a></li>
        <li><a href="world-of-flawles.html">галерея</a></li>
        <li><a href="contact.html">контакты</a></li>

        {% if user.is_authenticated %}
        <li><a href="/auth/logout/">Выйти { {{ user.username }} }</a></li>
        {% else %}
        <li><a href="/auth/login/">Войти</a></li>
        {% endif %}

    </ul>


</nav>


