*********************** ESPERIMENTAL *****************************

{{ child.attr.is_home }}

<h1>New menu</h1>
{% for child in children %}
<li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
    {% if child.children %}
    <ul>
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
    {% endif %}
</li>
{% endfor %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Minecraft.of.by</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a class="page-scroll" href="#about">О проекте</a>
                </li>
                <li>
                    <a class="page-scroll" href="#howtoplay">Как играть</a>
                </li>
                <li>
                    <a class="page-scroll" href="#faq">Вопросы и ответы (FAQ)</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle"
                       href="/profiles/profile/">Библиотека <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="page-scroll" href="/profiles/profile/">Как играть в Майнкрафт</a></li>
                        <li><a class="page-scroll" href="/profiles/profile/">Как приватить Участки</a></li>
                        <li><a class="page-scroll" href="/profiles/profile/">Как торговать с игроками</a></li>
                        <li><a class="page-scroll" href="/profiles/profile/">Магазин &laquo;На спавне&raquo;</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Правила сервера</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Курилка</a></li>
                    </ul>
                </li>
                <li>
                    <a class="page-scroll" href="#projects">Наши проекты</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login/">Войти</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


***********************************************************************
{% for ance in ancestors %}
<li>
{% if not forloop.last %}
<a href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a> <span class="separator">&raquo;</span>
{% else %}
<span class="active">{{ ance.get_menu_title }}</span>
{% endif %}
</li>
{% endfor %}

<div id="newnav">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    {% for child in children %}
       <li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
       <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
       {% if child.children %}
       <li class="dropdown">
         <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle"  href="/profiles/profile/">Библиотека <span class="caret"></span></a>
       <ul>
           {% for child1 in child.children %}
             <li class="child1{% if child1.selected %} selected{% endif %}{% if child1.ancestor %} ancestor{% endif %}{% if child1.sibling %} sibling{% endif %}{% if child1.descendant %} descendant{% endif %}">
             <a href="{{ child1.attr.redirect_url|default:child1.get_absolute_url }}">{{ child1.get_menu_title }}</a>
             </li>
           {% endfor %}
       </ul>
       {% endif %}
       </li>
    {% endfor %}
  </ul>
  </div>
</div>

***********************************************************************

<div class="footerTopSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>О проекте</h3>

                <p>
                    Сервер игры Майнкрафт<br/>
                    <strong>без доната </strong> в Беларуси.
                </p>

                <h3>Хотите быть вкурсе</h3>

                <p>Хотите получать нашу информационную рассылку?</p>

                <div>
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="subscribeInputEmail" class="sr-only">Ваш Email</label>
                            <input type="email" placeholder="Введите Вaш Email" id="subscribeInputEmail"
                                   class="form-control">
                            <button class="btn btn-brand" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-4">
                <h3>Быстрая навигация</h3>

                <p>
                    <span>Здесь Вы сможете найти много полезной для Вас информации:</span><br/><br/>
                    <a href="#">Как играть?</a><br/>
                    <a href="#">Как приватить?</a><br/>
                    <a href="#">Как заработать деньги в игре?</a><br/>
                    <a href="#">Наши проекты</a><br/>
                </p>

                <h3>Наши партнёры</h3>

                <p>
                    <noindex>
                        <a href="http://aws.amazon.com/ru/" rel="nofollow">AWS Amazon</a><br/>
                        <a href="http://www.spigotmc.org/" rel="nofollow">Spigot MC</a>
                    </noindex>
                </p>

            </div>
            <div class="col-md-4">
                <h3>Свяжитесь с нами</h3>

                <p>
                    S : mob-admin<br/>
                    E : info@minecraft.of.by<br/>
                    W : www.minecraft.of.by<br/>
                </p>

                <h3>Будь на связи</h3>

                <p>
                    Вы можете отыскать нас в социальных сетях:
                </p>
                F, V, T, G
            </div>
        </div>
    </div>
</div>
<div class="footerBottomSection">
    <div class="container">
        &copy; 2015, Все права защищены. <a href="#">Условия использования</a> | <a href="#">Политика безопасности</a>

        <div class="pull-right"><a href="/"><img alt="Главная страница портала Minecraft.of.by"
                                                 src="assets/custom/img/logo1.png"></a></div>
    </div>
</div>


************************************

<div class="well">
<h2>Популярное чтиво</h2>

<div class="row">
<div class="col-lg-6">
<ul class="list-unstyled">
	<li><a href="#">Как приватить?</a></li>
	<li><a href="#">Как заработать Бонусные блоки?</a></li>
	<li><a href="#">Как установить точку дома?</a></li>
	<li><a href="#">Телепортация по локациям (варпам)</a></li>
</ul>
</div>

<div class="col-lg-6">
<ul class="list-unstyled">
	<li><a href="#">Как торговать с игроками</a></li>
	<li><a href="#">Вас забанили - как быть?</a></li>
	<li><a href="#">Магазин &quot;На спавне&quot;</a></li>
	<li><a href="#">Как создавать сложные приватные Участки</a></li>
</ul>
</div>
</div>
</div>

<div class="well">
<h4>Наши Помощники</h4>

<p>Нам было бы сложно без Вашей помощи! Всегда открыты вакансии &quot;Помощника&quot; на сервере. Оставить заявку и узнать, что от них требуется - Вы можете почитать здесь.</p>
</div>
