/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  min-height: 1000px;
  padding-top: 70px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
ul.errorlist {
  margin: 0;
  padding: 0;
}
.errorlist li {
  background-color: red;
  color: white;
  display: block;
  font-size: 10px;
  margin: 0 0 3px;
  padding: 4px 5px;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/* collapsable tree */
.tree {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 10px;
  padding: 19px;
  /*Remove connectors before root*/
}
.tree a {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
.tree li {
  list-style-type: none;
  margin: 0px 0;
  padding: 4px 0px 0px 2px;
  position: relative;
  /*Remove connectors after last child*/
}
.tree li::before,
.tree li::after {
  content: '';
  left: -30px;
  position: absolute;
  right: auto;
}
.tree li::before {
  border-left: 1px solid #777777;
  bottom: 50px;
  height: 100%;
  top: -1px;
  width: 1px;
}
.tree li::after {
  border-top: 1px solid #777777;
  top: 13px;
  width: 23px;
}
.tree li .leaf {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #777777;
  border-radius: 5px;
}
.tree li .treehandle {
  display: inline;
}
.tree li span {
  display: inline-block;
  line-height: 14px;
  padding: 2px 4px;
  text-decoration: none;
}
.tree li.parent_li > span {
  cursor: pointer;
  /*Time for some hover effects*/
}
.tree li.parent_li > span:hover,
.tree li.parent_li > span:hover + ul li span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #777777;
  border-radius: 5px;
  background: #eeeeee;
  border: 1px solid #555555;
  color: #000;
}
.tree li:last-child::before {
  height: 30px;
}
.tree > ul > li::before,
.tree > ul > li::after {
  border: 0;
}
.tree .i3servicelist ul {
  list-style-type: none;
}
.tree .i3servicelist_element {
  border-bottom: 1px solid #ddd;
  display: block;
  margin: 0;
  padding: 8px;
}
