<form class="form-check-avalability" role="form" action="/accomodation/check-available/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="label-control">Дата заезда</label>

        <div class="booking-form select-black">

            <label class="collapse input">
                <input type="text" id="arrival-date" name="arrival-date" class="input-control border-black"/>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="label-control">Дата Отъезда</label>

        <div class="booking-form select-black">

            <label class="collapse input">
                <input type="text" id="departure-date" name="departure-date" class="input-control border-black"/>
            </label>
        </div>
    </div>
    <div class="form-group select">
        <label class="label-control">Взрослые</label>

        <div class="input-group select-black">

            <label class="collapse">
                <select class="form-select" name="adults">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group select">
        <label class="label-control">Дети</label>

        <div class="input-group select-black">

            <label class="collapse">
                <select class="form-select" name="kids">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </label>
        </div>
    </div>
    <div class="form-group last">
        <label class="label-control"></label>
        <button type="submit" class="btn btn-large btn-darkbrown">Найти</button>
    </div>
</form>

