{% extends "base.html" %}

{% block base_content %}
		<!-- Body -->
			<div class="md-body-wrapper">
				<section class="container">
					<div class="md-body md-accomodation">
						<section class="row md-accomodation-available clearfix">
							<div class="grid_3 align-center">
								<header class="box-heading heading-large">
									Н
									<div class="decription-override">
										<h1 class="h1">Номера</h1>
										<p>цены & резервирование</p>
									</div>
								</header>
							</div>
							<div class="grid_9">
								<section class="md-booking">
									<h2 class="title-checkroom">Подобрать размещение</h2>
									<div class="box-booking booking-inline">
										<form class="form-check-avalability" role="form" action="/accomodation/check-available/" method="post">
                                       {% csrf_token %}
											<div class="form-group">
												<label class="label-control">Дата заезда</label>
												<div class="booking-form select-black">
													<label class="collapse input">
														<input type="text" id="arrival-date" name="arrival-date" class="input-control border-black"/>
													</label>
												</div>
											</div>
											<div class="form-group">
												<label class="label-control">Дата Отъезда</label>
												<div class="booking-form select-black">
													<label class="collapse input">
														<input type="text" id="departure-date" name="departure-date" class="input-control border-black"/>
													</label>
												</div>
											</div>
											<div class="form-group select">
												<label class="label-control">Взрослые</label>
												<div class="input-group select-black">
													<label class="collapse">
														<select class="form-select" name="adults">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
														</select>
													</label>
												</div>
											</div>
											<div class="form-group select">
												<label class="label-control">Дети</label>
												<div class="input-group select-black">
													<label class="collapse">
														<select class="form-select" name="kids">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
															<option>5</option>
														</select>
													</label>
												</div>
											</div>
											<div class="form-group last">
												<label class="label-control"></label>
						                        <button type="submit" class="btn btn-large btn-darkbrown">Найти</button>
											</div>
										</form>
									</div><!-- /.box-booking -->
								</section><!-- /.md-booking -->
							</div>
						</section>

						<section class="md-accomodation-content">

							<div class="row clearfix">
							{% for room in rooms %}
								<div class="grid_4">
									<article class="media">
										<figure>
											{% for album in room.album.all %}
                                    		    {{ album.get_poster | safe }}
                                    		{% endfor %}
                                    		<!-- class="media-object" class="media-content" -->
										</figure>
										<section class="media-body">
											<h3 class="media-header h4"><a href="{{ room.get_absolute_url }}">{{ room.name }}</a></h3>
												{{ room.description | safe }}
											<a class="btn btn-small btn-border btn-border-brown" href="room-detail.html">посмотреть</a>
										</section>
									</article>
								</div>	
							    {% if forloop.counter|divisibleby:3 %}
							</div>
							<div class="row clearfix">
							    {% endif %}
							{% endfor %}
							</div>

						</section>
					</div><!-- /.md-accomodation -->
				</section><!-- /.md-wrapper  -->
			</div>

{% endblock %}

